@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Staatliches&display=swap');

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    min-height: 100vh;
}

@media screen and (max-width: 600px) { 
    main section {
        flex-direction: column !important;
    }
    main .img {
        min-height: 25rem;
        min-width: 100%;
        margin-top: 2rem;
    }
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.5rem;
}

h1 {
    font-family: 'staatliches', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 5rem;
    color:rgb(172, 122, 216)
}

header {
    position: fixed;
    top: 0px;
    right: 0;
    left:0;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.2rem 0.2rem 0.7rem #00000021; 
    padding: 0.2rem 1.4rem;
    justify-content: space-between;
    height: 4rem;
}

header h1 {
    color: #89BEA2;
    font-size: 3rem;
}

header nav {
    display: flex;
    flex-direction: row;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1rem;
}

header nav a {
    margin-left: 1rem;
    text-decoration: none;
}

a {
    color: rgb(14, 3, 3);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

main section  {
    align-items: center;
    align-content: center;
    justify-content: center;
    flex: 1 0 calc(100vh - 4.4rem);
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding-top: 4.4rem;
}

main section > *:last-child {
    margin-left: 2rem;
}

main.row .column {
    flex: 0 0 50%;
}

.img {
    display: flex;
    flex: 0 0 50%;
    height: 30rem; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 11rem;
    margin: 4rem 0;
} 

#home .img {
    background-image: url('Picture.jpg');
}

#about .img {
    background-image: url('Picture2.jpg');
}

#portfolio .img {
    background-image: url('Picture3.jpg');
}

#contact .img{
    background-image: url('Picture4.jpg');
}

.btn {
    font-family: 'josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: #89BEA2;
    text-align: center;
    border: none;
    border-radius: 1.4rem;
    padding: 0.7rem;
    text-decoration: none;
    align-self: center;
}

.more {
    display: none;
}