html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(220, 139, 73);
}
img {
    width:450px;
    height:800px;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(172, 122, 216)
}

header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.2rem 0.2rem 0.5rem #00000021; 
    padding: 0.2rem 1.4rem;
    justify-content: space-between;
}
header h1 {
    color: blue;
}
header nav {
    display: flex;
    flex-direction: row;
}
a {
    color: rgb(14, 3, 3);
    margin-left: 1rem
}
.row {
    display: flex;
    flex-direction: row;
}
main.row {
    align-items: center;
    align-content: center;
    justify-content: center;
}
main.row > * {
    margin-right: 6rem;
}
main.row > *:last-child {
    margin-right: 0rem;
}